@use "styles/utils" as *;

.filters {
  border-radius: 50px;
  border: 1px solid rgb(219, 219, 219);
  padding: 5px;
  margin: 20px 20px 20px 20px;
  color: rgb(73, 73, 73);
  min-width: 120px;
}

.search {
  background-image: url("/icons/search.svg");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  padding-left: 25px;
  width: 100%;
}

@mixin table-reset {
  // display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

.table {
  @include table-reset();
  width: 100%;
  thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    @include table-reset();
  }

  // Styles
  &__head {
    background: $white;
    width: 100%;

    th {
      @include text(2);
      text-transform: uppercase;
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px solid $border-color;
      vertical-align: middle;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently */
      // span {
      //   display: inline-flex;
      // }
    }
  }

  &__walletsHead {
    // background: $white;
    width: 100%;

    th {
      @include text(2);
      text-transform: uppercase;
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px solid $border-color;
      vertical-align: middle;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently */
    }
  }

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-2;
  }

  &__body {
    th {
      vertical-align: middle;
      padding: $space-4;
    }
    tr {
      width: 100%;
      background: white;
    }

    tr:not(:last-of-type) td,
    tr:not(:last-of-type) th {
      border-bottom: 1px solid $border-color;
    }
    td {
      padding: $space-4;
    }
  }
}

.sortedHeader {
  background-color: $lime-300 !important; //shouldn't use important here, but it works...
}

.invisible {
  display: none;
}

.searchContainer {
  width: 90%;
}
